// Import variables directly (not from main)
@use '../../styles/variables' as v;
@use '../../styles/mixins' as *;


// Main container for the timer page
.timer-page {
  padding: v.$section-padding 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, v.$background-light, v.$white);
}

// Page heading
h1  {
  @include shared-title;  
  @include centered-title;

  @media (max-width: v.$mobile) {
    font-size: 2rem;
  }
}

// Container for the timer component
.timer-container {
  max-width: 800px;
  margin: 0 auto;
}
